body{
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #b6e999;
}
header {
    background-color: #eb6767;
    color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .logo img{
    font-size: 24px;
    height: 50px;
    width: 50px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: xx-large;
    font-family: fantasy;
    color: white;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-toggle .bar1,
  .menu-toggle .bar2,
  .menu-toggle .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
